<html>
<head>
   <% include utils/head.ejs %>
</head>
<body>
   <% include utils/menu.ejs %>
   <br/><br/><br/>
   <% include utils/headline.ejs %>
   <br/>
   <div class="container">
         <div class="row">
             <% for(var i=1;i<=numberOfImages;i++) {%>
             <div class="col-md-6">
                <div class="thumbnail">
                <img src="/images/<%=city%>/<%=city%>-<%=i%>.jpg"/>
                </div>
             </div>
             <%}%>
         </div>
    </div>
   <% include utils/jsIncludes.ejs %>
</body>
</html>
